body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.width {
  background: #f9d237;
  position: relative;
  display: inline-block;
  vertical-align: top;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}
.width:before {
  content: "";
  display: block;
}
.ratioMobile:before {
  padding-top: 176.25%;
}
.ratio1-1:before {
  padding-top: 100%;
}
.ratio2-1:before {
  padding-top: 50%;
}
.ratio4-3:before {
  padding-top: 75%;
}
.ratio16-9:before {
  padding-top: 56.25%;
}
.contenido {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: 1.5rem;
  color: #444;
}
/*
** overflow text
*/
.text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/**
** CURSOS OPTIONS
**/
.cursor-pointer {
  cursor: pointer;
}

/**
** CUSTOM COLORS
**/
.btn-hidden {
  opacity: 0;
}
.btn-show {
  opacity: 100;
}
.btn-bgcard {
  background-color: #e4e2e8;
}
.btn-card {
  color: #7f7b8d;
}
.overlay {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 0) 60%,
    rgba(0, 0, 0, 1) 100%
  );
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  top: 0;
  left: 0px;
  z-index: -1;
}

/**
* custom checkbox
*/
.checkbox {
  -webkit-appearance: none;
  appearance: none;
  background-color: black;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  border-color: white;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}
.checkbox::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  /* Windows High Contrast Mode */
  background-color: white;
}
.checkbox:checked::before {
  transform: scale(1);
}

.card-sceneIMG {
  border-top-left-radius: 1rem !important;
  border-top-right-radius: 1rem !important;
  object-fit: cover;
}

/**
** custom color picker
**/
.color_picker {
  border-radius: 50%;
  outline: none;
  -webkit-appearance: none;
}

.color_picker::-webkit-color-swatch-wrapper {
  padding: 0;
}
.color_picker::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}
.cover {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.popup-color {
  position: absolute;
  z-index: 15;
  margin-top: 2.5rem;
}
/**
** panel de editar template
**/
.editPanel {
  z-index: 5;
  right: 2rem;
  top: 8rem;
  bottom: 5rem;
  width: 20%;
  background-color: #16171b;
  border: 1px solid #7f7b8d;
}
/**
** CUSTOM DIV FILES
**/
.border-inputFile {
  border: 4px dashed #707070;
  border-radius: 16px;
}
.file_upload {
  opacity: 0;

  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

  /* IE 5-7 */
  filter: alpha(opacity=0);

  /* Netscape or and older firefox browsers */
  -moz-opacity: 0;

  /* older Safari browsers */
  -khtml-opacity: 0;

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

/**
** CUSTOM SCROLL
**/
.custom-scroll {
  overflow-y: auto;
  direction: ltr;
  scrollbar-color: #8070d4 #e4e4e4;
  scrollbar-width: thin;
}
.custom-scroll::-webkit-scrollbar {
  width: 5px;
}

.custom-scroll::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 50px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 50px;
  border: 6px solid rgba(0, 0, 0, 0.18);
  border-left: 0;
  border-right: 0;
  background-color: #8070d4;
}

/**
* CUSTOM COLOR
**/

.dark-bg-1 {
  background-color: #242329 !important;
}

.primary-bg {
  background-color: #8d5fff !important;
}
.dark-bg-2 {
  background-color: #16171b !important;
}
.text-color-1 {
  color: #bca1fe !important;
}
.text-gray {
  color: #7f7b8d;
}

/**
** FONTS
*/

.poppins {
  font-family: "Poppins", sans-serif;
}
.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: lighter !important;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 600 !important;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: bold !important;
}
