body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*
** overflow text
*/
.text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/**
** CURSOS OPTIONS
**/
.cursor-pointer {
  cursor: pointer;
}

/**
** CUSTOM COLORS
**/
.btn-hidden {
  opacity: 0;
}
.op-show {
  opacity: 100 !important;
}
.btn-show {
  opacity: 100;
}
.btn-bgcard {
  background-color: #e4e2e8;
}
.btn-card {
  color: #7f7b8d;
}
.overlay {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 0) 60%,
    rgba(0, 0, 0, 1) 100%
  );
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  top: 0;
  left: 0px;
  z-index: -1;
}

/**
* custom checkbox
*/
.checkbox {
  -webkit-appearance: none;
  appearance: none;
  background-color: black;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  border-color: white;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}
.checkbox::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  /* Windows High Contrast Mode */
  background-color: white;
}
.checkbox:checked::before {
  transform: scale(1);
}

.card-sceneIMG {
  border-top-left-radius: 1rem !important;
  border-top-right-radius: 1rem !important;
  object-fit: cover;
}

/**
** custom color picker
**/
.color_picker {
  border-radius: 50%;
  outline: none;
  -webkit-appearance: none;
}

.color_picker::-webkit-color-swatch-wrapper {
  padding: 0;
}
.color_picker::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}
.cover {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.popup-color {
  position: absolute;
  z-index: 15;
  margin-top: 2.5rem;
}
/**
** panel de editar template
**/
.editPanel {
  z-index: 5;
  top: 8rem;
  background-color: #16171b;
  border: 1px solid #7f7b8d;
}
/**
** CUSTOM DIV FILES
**/
.border-inputFile {
  border: 4px dashed #707070;
  border-radius: 16px;
}
.profile-inputFile {
  border: none;
  background-color: #f5f4f8;
}
.file_upload {
  opacity: 0;

  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

  /* IE 5-7 */
  filter: alpha(opacity=0);

  /* Netscape or and older firefox browsers */
  -moz-opacity: 0;

  /* older Safari browsers */
  -khtml-opacity: 0;

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

/**
** CUSTOM SCROLL
**/
.custom-scroll {
  overflow-y: auto;
  direction: ltr;
  scrollbar-color: #8070d4 #e4e4e4;
  scrollbar-width: thin;
}
.custom-scroll::-webkit-scrollbar {
  width: 5px;
}

.custom-scroll::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 50px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 50px;
  border: 6px solid rgba(0, 0, 0, 0.18);
  border-left: 0;
  border-right: 0;
  background-color: #8070d4;
}

/**
* CUSTOM COLOR
**/

.dark-bg-1 {
  background-color: #242329 !important;
}

.primary-bg {
  background-color: #8d5fff !important;
}
.selector-bg {
  background-color: #7645e6 !important;
}
.light-bg {
  background-color: #b9a2ff !important;
}
.dark-bg-2 {
  background-color: #16171b !important;
}
.text-color-1 {
  color: #bca1fe !important;
}
.border-cards {
  border: 1px solid #bca1fe !important;
}
.text-gray {
  color: #7f7b8d;
}
.text-blue {
  color: #8d5fff !important;
}
.bg-dark-transparent {
  background-color: black;
  opacity: 0.85;
  -webkit-box-shadow: 0px 0px 19px 3px #000000;
  box-shadow: 0px 0px 19px 3px #000000;
}

/**
** FONTS
*/

.poppins {
  font-family: "Poppins", sans-serif;
}
.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: lighter !important;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 600 !important;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: bold !important;
}
.hover-textPrimary {
  color: white;
}

.hover-textPrimary:hover {
  color: #0d6efd !important;
}
.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/**
** CUSTOM SELECT
*/

select {
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 rgb(255, 255, 255);
}

select.minimal {
  background-image: linear-gradient(
      45deg,
      transparent 50%,
      rgb(255, 255, 255) 50%
    ),
    linear-gradient(135deg, rgb(255, 255, 255) 50%, transparent 50%);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}

select.minimal:focus {
  background-image: linear-gradient(
      45deg,
      rgb(255, 255, 255) 50%,
      transparent 50%
    ),
    linear-gradient(135deg, transparent 50%, rgb(255, 255, 255) 50%);
  background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
}
select:required:invalid {
  color: #dbdbdb !important;
  font-family: "Poppins", sans-serif;
  font-weight: lighter !important;
}
option[value=""][disabled] {
  display: none;
}
